<table BORDER="2" class="table">
    <tr>
        <td class="text-right" colspan="2"><strong>2</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Valor inventario Productos terminados</td>
        <td></td>
        <td class="text-right">{{ formulario.calcular_VIPT }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Valor Inventario Materia Prima</td>
        <td></td>
        <td class="text-right">{{ formulario.calcular_VIMP2 }}</td>
    </tr>
    <tr>
        <td style="background-color: yellow;">Glosa: Producción de 120</td>
        <td></td>
        <td></td>
    </tr>
    
    
</TABLE>