<table BORDER="2" class="table">
    <tr>
        <td class="text-right" colspan="2"><strong>1</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Valor inventario Materia Prima</td>
        <td></td>
        <td class="text-right">{{ formulario.calcular_VIMP }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Crédito Fiscal</td>
        <td></td>
        <td class="text-right">{{ formulario.calcular_CF }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Caja y Bancos</td>
        <td></td>
        <td class="text-right">{{ formulario.calcular_CYB }}</td>
    </tr>
    <tr>
        <td style="background-color: yellow;">Glosa: Compras de materias primas</td>
        <td></td>
        <td></td>
    </tr>
    
    
</TABLE>