{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{titulo}}</title>
{% endblock %}


{% block content %}

<div class="card mt-4 mb-4">
    <div class="card-header">
        <h2 class="text-center">FORMULARIO 2</h2>
        <p class="text-center"> {{formulario}} </p>
    </div>
    <div class="card-body">
        
    {% include 'decisiones/asiento1.html' %}
    <br>
    {% include 'decisiones/asiento2.html' %}

    </div>
    <div class="card-footer">
        <div class="text-center">    
            <a class="btn btn-danger" href="{% url 'home' %}">Volver</a>
        </div>
    </div>
</div>

{% endblock %}