{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Formularios</title>
{% endblock %}

{% block content %}
    <h2>Formularios</h2>
    {% if not formularios %}
        <p>No hay formularios</p>
    {% else %}
    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User</th> 
                    <th scope="col">Periodo</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for formulario in formularios %}
                <tr>
                    <td>{{ formulario.id }}</td>
                    <td>{{ formulario.user }}</td>
                    <td>{{ formulario.periodo }}</td>
                    <td class="text-center">
                        <a href="" class="btn btn-primary btn-sm"><i
                                class="fas fa-eye"></i></a>
                        <a href="" class="btn btn-warning btn-sm"><i
                                class="fas fa-edit"></i></a>
                        
                        {% if user.is_superuser %}
                        <a href="" class="btn btn-danger btn-sm"><i
                            class="fas fa-trash-alt"></i></a>    
                        {% endif %}
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


{% endblock %}