{% extends 'decisiones/base.html' %}
{% load static %}
{% block title %}
<title>Grupos</title>
{% endblock %}

{% block content %}
    <h2>Grupos</h2>
    {% if not grupos %}
        <p>No hay grupos</p>
    {% else %}
    <div class="table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Año</th>
                    <th scope="col">Semestre</th>                    
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                <tr>
                    <td>{{ grupo.id }}</td>
                    <td>{{ grupo.nombre }}</td>
                    <td>{{ grupo.semestre.año }}</td>
                    <td>{{ grupo.semestre.nombre }}</td>
                    <td class="text-center">
                        <a href="" class="btn btn-primary btn-sm"><i
                                class="fas fa-eye"></i></a>
                        <a href="{% url 'grupo_edit' grupo.id %}" class="btn btn-warning btn-sm"><i
                                class="fas fa-edit"></i></a>
                        
                        {% if user.is_superuser %}
                        <a href="" class="btn btn-danger btn-sm"><i
                            class="fas fa-trash-alt"></i></a>    
                        {% endif %}
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


{% endblock %}